---
import { config } from "../config";
import { Strip, Col, Row } from "@canonical/react-components";
import eventLogo from "@assets/logo.svg";
import { useTranslations, getLangFromUrl } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const indicoResponse = await fetch(config.featuredSpeakers.indicoExportUrl);
const indicoResJson = await indicoResponse.json();
const sessions = indicoResJson.results
    ? indicoResJson.results[0].contributions
    : null;
const featuredSessions = sessions.filter((session: any) =>
    Object.keys(config.featuredSpeakers.contributions).includes(session.friendly_id.toString())
);
---

{featuredSessions.length <= 0 ? "":
<Strip bordered>
    <h2 class="p-headding--4">{t("featured.title")}</h2>
    <Row>
        {
            featuredSessions.map((session: {
                url: string,
                speakers: [{ fullName: string }],
                title: string,
                friendly_id: number
            }) => (
                <Col size={4} medium={3}>
                    <div class="p-media-object--large">
                        <img
                            src={`https://events.canonical.com/user/${config.featuredSpeakers.contributions[session.friendly_id].profileImg}/picture-default`}
                            class="p-media-object__image is-round"
                            alt=""
                        />
                        <div class="p-media-object__details">
                            <a href={session.url}>
                                <h3 class="p-media-object__title">
                                    {session.speakers[0].fullName}
                                </h3>
                            </a>
                            <p class="p-media-object__content">
                                {session.title}
                            </p>
                            <ul class="p-media-object__meta-list" />
                        </div>
                    </div>
                </Col>
            ))
        }
    </Row>
    <Row>
        <Col size={12}>
            <a href="" class="p-button">{t("featured.more")}</a>
        </Col>
    </Row>
</Strip>
}