---
import "vanilla-framework/_index.scss";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="is-paper">
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	@import "vanilla-framework";
	@include vanilla;

	.responsive-table {
		display: block;
		overflow-x: auto;
	}
	
	table {
		width: max-content;
		table-layout: auto;
		overflow-x: scroll;
	}

	@media screen and (min-width: $breakpoint-large) {
		table {
			width: 100%;
		}
	}

	.p-media-object--large .p-media-object__image {
		object-fit: cover;
		width: 100%;
	}
</style>
